.heading--primary, .heading--secondary, .heading--light, .btn, .page-bar, .page-hero__title, .page-aside__nav a, .page-footer__heading {
  color: #fff;
  font-family: Oswald;
  line-height: 90px;
  text-transform: uppercase;
}

.text, .form-field__control {
  color: #9B94AA;
  line-height: 25px;
  font-weight: 300;
}

.text p, .form-field__control p {
  margin-top: 25px;
}

.text p:first-child, .form-field__control p:first-child {
  margin-top: 0;
}

.contact-data__heading, .open-hours__heading, .price-list__head, .price-list__td-day, .question-wrapper__heading {
  color: #fff;
  font-weight: bold;
}

.form-field__label, .price-list {
  font-weight: bold;
}

.icon--phone, .icon--mail, .icon--fb, .icon--twitter, .icon--in, .icon--google {
  display: inline-block;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
}

.page-bar__flex-container, .page-bar__contact-links, .page-hero__flex-container, .page-footer__bar .page-footer__flex-container, .employes-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open-hours, .google-maps, .quote-wrapper, .video-wrapper, .price-list, .question-wrapper {
  margin-left: -30px;
  margin-right: -30px;
  width: calc(100% + 60px);
}

body {
  background-color: #120E1C;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea, button {
  outline: none;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
  outline: none;
}

nav ul, nav li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

.center-wrapper {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-content {
  width: 100%;
  max-width: 1000px;
}

.page-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text--violet {
  color: #CD30BE;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--bold {
  font-weight: bold;
}

.text--white {
  color: #fff;
}

.text--heading {
  color: #fff;
  font-weight: bold;
}

.icon--phone {
  padding-left: 30px;
  margin-right: 20px;
}

.icon--mail {
  padding-left: 30px;
}

.icon--fb,
.icon--twitter,
.icon--in,
.icon--google {
  margin-right: 5px;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}

.icon--phone {
  background-image: url("../assets/icons/icon-phone.svg");
}

.icon--mail {
  background-image: url("../assets/icons/icon-mail.svg");
}

.icon--fb {
  background-image: url("../assets/icons/icon-fb.svg");
}

.icon--twitter {
  background-image: url("../assets/icons/icon-twitter.svg");
}

.icon--in {
  background-image: url("../assets/icons/icon-in.svg");
}

.icon--google {
  background-image: url("../assets/icons/icon-google.svg");
}

.bars {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #070312;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.bars__line {
  width: 50%;
  height: 4px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 2px;
}

.bars__line::before, .bars__line::after {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  border-radius: 1px;
}

.bars__line::before {
  width: 100%;
  top: -10px;
  background-color: #fff;
}

.bars__line::after {
  width: 66%;
  bottom: -10px;
  background-color: #CD30BE;
}

.page-logo {
  display: block;
  text-indent: -9999px;
  background-image: url("../assets/icons/page-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-hero .page-logo {
  width: 150px;
  height: 70px;
}

.page-footer .page-logo {
  width: 120px;
  height: 55px;
}

.heading--primary {
  font-size: 36px;
  font-weight: bold;
}

.heading--secondary {
  font-size: 24px;
  font-weight: bold;
}

.heading--light {
  font-weight: 300;
  font-size: 24px;
  text-transform: capitalize;
}

.form-field__control {
  margin-top: 10px;
  padding: 0 15px;
  width: 100%;
  max-width: 350px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #474155;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
}

.form-field__control:focus {
  border-color: #fff;
}

.form-field__control--textarea {
  height: 160px;
  padding: 15px;
  resize: none;
}

.form-field__control--radio, .form-field__control--checkbox {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  border: 3px solid #474155;
  background-color: transparent;
  vertical-align: middle;
}

.form-field__control--radio::after, .form-field__control--checkbox::after {
  content: '';
  width: 8px;
  height: 8px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #CD30BE;
}

.form-field__control--radio {
  border-radius: 50%;
}

.form-field__control--radio::after {
  border-radius: 50%;
}

input[type=radio]:checked + label .form-field__control--radio::after {
  display: block;
}

input[type=checkbox]:checked + label .form-field__control--checkbox::after {
  display: block;
}

.btn-group {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  margin: 1px;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 60px;
  display: block;
  background-color: transparent;
  border: 4px solid #CD30BE;
  color: #CD30BE;
  text-align: center;
  line-height: 52px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  border-color: #fff;
  color: #fff;
}

.contact-form .btn:first-child {
  display: none;
}

.page-bar {
  font-size: 14px;
  font-weight: bold;
  background-color: #070312;
  line-height: 1.8;
}

.page-bar__free-delivery {
  display: none;
  white-space: nowrap;
}

.page-bar__contact-links {
  height: 80px;
  width: 100%;
}

.page-hero {
  padding: 30px 0 80px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(64%, #120e1c), color-stop(70%, #100c1a), to(rgba(7, 3, 18, 0))), url("../assets/hero-bg.png");
  background-image: linear-gradient(to top, #120e1c 64%, #100c1a 70%, rgba(7, 3, 18, 0) 100%), url("../assets/hero-bg.png");
  background-position: center center,center center;
  background-repeat: no-repeat,no-repeat;
  background-size: cover ,cover;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.page-hero__content {
  margin-top: 70px;
  text-align: center;
}

.page-hero__title {
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}

.page-hero__subtitle {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.page-aside {
  margin-top: 25px;
  display: none;
  width: 28%;
  max-width: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.page-aside__nav {
  padding: 30px;
  width: 90%;
  background-color: #1E1929;
}

.page-aside__nav a {
  display: block;
  line-height: 49px;
  font-size: 16px;
  border-bottom: 1px solid #362F45;
}

.page-aside__nav a:last-child {
  border: none;
}

.page-aside__nav a:hover {
  color: #CD30BE;
}

.page-footer {
  margin-top: 60px;
  padding-top: 50px;
  border-top: 1px solid #2B253B;
}

.page-footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
}

.page-footer__col {
  width: 48%;
  max-width: 160px;
}

.page-footer__heading {
  font-size: 18px;
  font-weight: normal;
}

.page-footer__text a {
  display: block;
  font-size: 12px;
  color: #9B94AA;
  line-height: 2;
  text-transform: uppercase;
}

.page-footer__bar {
  margin-top: 50px;
  background-color: #1E1929;
}

.page-footer__bar .page-footer__flex-container {
  max-width: 400px;
  height: 130px;
}

.page-footer__copyright {
  font-size: 12px;
  color: #9B94AA;
}

.page-nav {
  position: relative;
}

.page-nav__navbar {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #CD30BE;
}

.page-nav__link {
  min-width: 180px;
}

.page-nav__link a {
  padding: 15px 32px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-nav__link > a {
  color: white;
}

.page-nav__link--toggler {
  position: relative;
}

.page-nav__link--toggler a {
  background-image: url("../assets/icons/arrow-down.svg");
  background-position: right 15px center;
  background-size: 7px;
  background-repeat: no-repeat;
}

.page-nav__link--toggler:hover .page-nav__dropdown-menu {
  display: block;
}

.page-nav__dropdown-menu {
  display: none;
  background-color: #fff;
}

.page-nav__dropdown-menu > a {
  color: #1E1929;
}

.page-nav__dropdown-menu > a:first-child {
  padding-top: 24px;
  padding-bottom: 15px;
}

.page-nav__dropdown-menu > a:last-child {
  padding-top: 15px;
  padding-bottom: 25px;
}

.form-field {
  margin-top: 15px;
}

.form-field__label {
  display: block;
  color: #9B94AA;
  font-size: 16px;
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form-field__label::first-letter {
  text-transform: uppercase;
}

.form-field__label.required::after {
  content: '*';
}

.form-field__label--light {
  font-size: 14px;
  color: #9B94AA;
  font-weight: 300;
}

.form-field__client .form-field__label--light {
  margin-right: 30px;
  text-transform: uppercase;
}

.form-field__error {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #B73336;
}

.form-field--custom {
  margin-top: 30px;
}

.form-field__content-wrapper {
  width: 100%;
  max-width: 530px;
}

.form-field__client {
  margin-top: 10px;
}

.form-field__grid-container {
  margin-top: 20px;
  max-width: 300px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}

.contact-data {
  min-width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.open-hours-wrapper {
  margin-top: 50px;
  width: 100%;
  max-width: 490px;
}

.open-hours {
  margin-top: 25px;
}

.open-hours__tr {
  height: 40px;
}

.open-hours__tr:nth-child(odd) {
  background-color: #1E1929;
}

.open-hours td {
  padding-left: 30px;
  padding-right: 30px;
}

.google-maps {
  height: 320px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.google-maps iframe {
  width: 100%;
  height: 100%;
}

.employes-group {
  margin-top: 35px;
}

.employes-group__item {
  width: 30%;
  max-width: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.employes-group__item img {
  width: 100%;
  height: 100%;
}

.quote-wrapper {
  margin-top: 40px;
  padding: 50px 40px;
  background-color: #1E1929;
  text-align: center;
}

.quote-wrapper__icon i {
  font-size: 55px;
  color: #fff;
}

.quote-wrapper__content {
  margin-top: 20px;
}

.currency-list__wrapper, .future-list__wrapper {
  padding-left: 15px;
}

.video-wrapper {
  margin-top: 35px;
  height: 230px;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.price-list {
  max-width: 930px;
  font-size: 12px;
  text-align: center;
  color: #9B94AA;
}

.price-list__head tr {
  background-color: #362F45;
}

.price-list__body tr:nth-child(even) {
  background: #1E1929;
}

.price-list tr {
  height: 60px;
}

.price-list__note {
  font-size: 12px;
  color: #9B94AA;
}

.question-wrapper {
  border-top: 1px solid #2B253B;
  padding: 30px;
}

.question-wrapper__heading {
  font-size: 14px;
}

.question-wrapper__response {
  margin-top: 20px;
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  .open-hours, .google-maps, .quote-wrapper, .video-wrapper, .price-list, .question-wrapper {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .contact-form .btn:first-child {
    display: block;
    margin-right: 15px;
  }
  .page-hero {
    padding-bottom: 120px;
    background-position: top 100px center ,center center;
  }
  .page-hero__content {
    margin-top: 90px;
  }
  .page-hero__title {
    font-size: 85px;
  }
  .google-maps {
    height: 380px;
  }
  .question-wrapper {
    padding: 30px 0;
  }
}

@media screen and (min-width: 700px) {
  .md-display--block {
    display: block;
  }
  .bars {
    display: none;
  }
  .form-field .btn-group {
    max-width: 530px;
    width: 100%;
  }
  .heading--primary {
    font-size: 48px;
  }
  .heading--secondary {
    font-size: 30px;
    margin-top: 40px;
  }
  .heading--secondary-first {
    margin-top: 0;
  }
  .form-field__control {
    max-width: 530px;
  }
  .page-hero .page-logo {
    width: 180px;
    height: 84px;
  }
  .page-bar__free-delivery {
    display: block;
  }
  .page-bar__contact-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .page-hero {
    padding-bottom: 160px;
    background-position: top 230px center,center center;
  }
  .page-hero__content {
    margin-top: 130px;
  }
  .page-hero__title {
    font-size: 100px;
  }
  .page-hero__subtitle {
    font-size: 24px;
  }
  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-field--custom {
    margin-top: 15px;
  }
  .page-nav__navbar {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-nav__link {
    min-width: initial;
  }
  .page-nav__link a {
    padding: 20px 25px;
  }
  .page-nav__link--toggler a {
    background-position: right 5px center;
  }
  .page-nav__dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .contact-data__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .open-hours-wrapper {
    margin-top: 100px;
  }
  .google-maps {
    height: 440px;
  }
  .video-wrapper {
    height: 350px;
  }
  .quote-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quote-wrapper__icon i {
    font-size: 80px;
  }
  .quote-wrapper__content {
    padding-left: 25px;
    margin-left: 20px;
    border-left: 1px solid #2B253B;
    text-align: left;
  }
  .question-wrapper__heading {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .page-content {
    padding-left: 35px;
  }
  .page-aside {
    display: block;
  }
  .page-footer__col {
    max-width: 210px;
  }
  .page-hero {
    padding-bottom: 220px;
    background-position: top 350px center ,center center;
  }
  .page-hero__title {
    font-size: 120px;
  }
  .google-maps {
    height: 520px;
  }
  .video-wrapper {
    height: 460px;
  }
}

@media screen and (min-width: 1200px) {
  .page-content {
    padding-left: 75px;
  }
  .page-aside__nav {
    padding: 45px;
  }
  .page-aside__nav a {
    font-size: 18px;
  }
  .page-hero {
    background-position: top 440px center,center center;
  }
}
/*# sourceMappingURL=main.css.map */