.center-wrapper{
    max-width:1450px;
    margin:0 auto;
    padding:0 30px;
}
.page-content{
    width: 100%;
    max-width: 1000px;
}
.page-flex-container{
    display: flex;
    justify-content: space-between;
}

// @media 
@mixin utilities--sm {
    .md-display--block{
            display: block;
    }
}
@mixin utilities--md{
    .page-content{
            padding-left: 35px;
    }
} 
@mixin utilities--lg{
    .page-content{
            padding-left: 75px;
    }
} 
