.page-nav{
    position: relative;

    &__navbar{
        // display: none;
        position: absolute;
        top:100%;
        right:0;
    
        background-color: $page-nav_bg;
    }
    &__link{
        min-width: 180px;

        & a{
            padding: 15px 32px;
            display: block;

            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
        & > a{
            color:white;
        }

        &--toggler{
            position: relative;
            a{
                background-image: getImg('icons/arrow-down.svg');
                background-position: right 15px center;
                background-size: 7px;
                background-repeat: no-repeat;
            }

            &:hover .page-nav__dropdown-menu{
                display: block;
            }
        }
    }
    &__dropdown-menu{
        display: none;

        background-color: $white;
        & > a{
            color:$navblue;
            &:first-child{
                padding-top: 24px;
                padding-bottom: 15px;
            }
            &:last-child{
                padding-top: 15px;
                padding-bottom: 25px;
            }            
        }
    }
}

@mixin page-nav--sm {
    .page-nav{
        &__navbar{
            position: initial;
            display:flex;
        }

        &__link{
            min-width: initial;
            &  a{
                padding: 20px 25px;
            }

            &--toggler{
                a{
                    background-position: right 5px center;
                }
            }
        }

        &__dropdown-menu{
            position: absolute;
            top:100%;
            left: 0;
        }
    }
    
}