@import './mixins';

// text properties
%heading{
    color:$white;
    font-family:Oswald;
    line-height: 90px;
    text-transform: uppercase;
}
%text{
    color:$text;
    line-height: 25px;
    font-weight: 300;
    p{
        margin-top: 25px;
        &:first-child{
            margin-top: 0;
        }
    }
}
%text-heading{
    color:$white;
    font-weight: bold;
}
%text-bold{
    font-weight: bold;
}

// icons
%icon{
    display: inline-block;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    
    color:$white;
}

// displaying padding margin
%flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%negative-margin{
    margin-left:-30px;
    margin-right: -30px;
    width: calc(100% + 60px);
}

// @media 
@mixin placeholders--xs{
    %negative-margin{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}