$white:#fff;
$black:#000;
$red:#B73336;
$green:#2D934F;
$pink:#CD30BE;
$navblue:#1E1929;
// --- //
$body_bg:#120E1C;

$page-bar_bg:#070312;
$bars_bg:#070312;
$page-nav_bg:$pink; 
$aside_bg:$navblue;
$footer-bar_bg:$navblue;

$quote-wrapper_bg:$navblue;
$pricelist-tbody-tr_bg:$navblue;
$pricelist-thead-tr_bg:#362F45;
$openhours-tr_bg:$navblue;

$card-content_bg:$navblue;
$hr_bg:#2B253B;
// --- //

$pagination_border:#2B253B;
$input_border:#474155;

// --- //

$text:#9B94AA;
$text-footer:#463F56;
$text-copyright:#413A50;

