.page-pagination{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    a{
        @extend %text-heading;
        margin:1px;
        display: block;
        width: 40px;
        height: 40px;
        border:3px solid $pagination_border;
        text-align: center;
        line-height: 34px;
        font-size: 14px;
        transition:0.5s;

        &:hover{
            border-color:$pink!important;
        }
        &:nth-child(even){
            border-color:transparent;
        }
    }
}