.page-logo{
    display: block;

    text-indent: -9999px;
    background-image: getImg('icons/page-logo.svg');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    .page-hero &{
        width: 150px;
        height: 70px;
    }
    .page-footer &{
        width: 120px;
        height: 55px;
    }
}

// @media 
@mixin page-logo--sm {
    .page-hero .page-logo{
        width: 180px;
        height: 84px;
    }
}