.page-bar{
    @include heading(14px);
    background-color: $page-bar_bg;
    line-height: 1.8;

    &__flex-container{
        @extend %flex-between;
    }
    &__free-delivery{
        display: none;
        white-space: nowrap;
    }
    &__contact-links{
        @extend %flex-between;
        height:80px;
        width: 100%;    
    }
}

// @media
@mixin page-bar--sm {
    .page-bar{
        &__free-delivery{
            display: block;
        }
        &__contact-links{
            justify-content: flex-end;
        }
    }
}